apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: servicex-release-testing-3
  namespace: servicex-testing-3
spec:
  releaseName: servicex-release-testing-3
  serviceAccountName: servicex-testing-3
  chart:
    spec:
      chart: servicex
      sourceRef:
        kind: HelmRepository
        name: servicex-repo
      version: ">=v1.7.5-rc.1"
  interval: 5m
  values:
    objectStore:
      enabled: true
      internal: true
      publicURL: testing-3-minio.servicex.ssl-hep.org
      useTLS: false
      useClientTLS: true
    app:
      image: ponyisi/servicex_app
      tag: dataset-cache-cleanup
      adminEmail: bengal1@illinois.edu
      pullPolicy: Always
      auth: true
      allowAllAfterAuth: true
      replicas: 1
      mailgunDomain: servicex.ssl-hep.org
      slackSigningSecret: "dummy"
      newSignupWebhook: "dummy"
      # sqlalchemyEngineOptions: '{"pool_pre_ping": True}'
      ingress:
        enabled: true
        tls:
          enabled: true
          host: servicex-release-testing-3.servicex.ssl-hep.org
          clusterIssuer: letsencrypt-prod

    x509Secrets:
      pullPolicy: Always
      #  override-voms-file

    rabbitmq:
      clusterDomain: river-dev
      metrics:
        enabled: false
        plugins: rabbitmq_prometheus
        podAnnotations:
          prometheus.io/port: "9419"
          prometheus.io/scrape: "true"
        prometheusRule:
          additionalLabels: {}
          enabled: false
          namespace: ""
          rules: []
        serviceMonitor:
          additionalLabels: {}
          enabled: true
          honorLabels: false
          interval: 30s
      persistence:
        enabled: false
        # storageClass: rook-ceph-block
      auth:
        existingErlangSecret: servicex-secrets
        existingPasswordSecret: servicex-secrets
      # nodeselector:
      #   storage: rook

    didFinder:
      rucio:
        enabled: true
        image: ponyisi/servicex-did-finder
        tag: better-rucio-replicas
        replicaSorterEnabled: true
        geoIPURL: https://ponyisi.web.cern.ch/public/GeoLite2-City.mmdb
      CERNOpenData:
        enabled: true
        tag: cernopendata-1.0

    codeGen:
      # topcp:
      #   image: mattshirley/servicex_code_gen_topcp
      atlasr25:
        tag: develop
      atlasr22:
        tag: develop
      atlasr21:
        tag: develop
      uproot-raw:
        defaultScienceContainerTag: uproot-5.6.9

    transformer:
      cachePrefix: '"c111.af.uchicago.edu:1094,c112.af.uchicago.edu:1094,c113.af.uchicago.edu:1094,c114.af.uchicago.edu:1094"'
      cacheVPSSite: AF_200
      cacheVPSCheckInterval: 1800
      cacheVPSLivenessURL: https://vps.cern.ch/liveness
      # cachePrefix: '""'
      autoscaler:
        enabled: true
        cpuScaleThreshold: 20
        minReplicas: 10
        maxReplicas: 749
      cpuLimit: 1
      sidecarImage: ponyisi/servicex_sidecar_transformer
      sidecarTag: enable-davs

    postgres:
      enabled: true

    postgresql:
      primary:
        persistence:
          enabled: false
          storageClass: rook-ceph-block
        nodeSelector:
          storage: "rook"
        extendedConfiguration: |
          shared_preload_libraries = 'pg_stat_statements'
      global:
        postgresql:
          auth:
            database: servicex
            existingSecret: servicex-secrets
            secretKeys:
              adminPasswordKey: postgresql-password

    minio:
      auth:
        existingSecret: servicex-secrets
      tls:
        enabled: false
      service:
        ports:
          api: 9000
      ingress:
        enabled: true
        annotations:
          kubernetes.io/ingress.class: nginx
          cert-manager.io/cluster-issuer: letsencrypt-prod
          acme.cert-manager.io/http01-edit-in-place: "true"
        hostname: "testing-3-minio-console.servicex.ssl-hep.org"
        tls: true
      apiIngress:
        enabled: true
        tls: true
        annotations:
          kubernetes.io/ingress.class: nginx
          cert-manager.io/cluster-issuer: letsencrypt-prod
          acme.cert-manager.io/http01-edit-in-place: "true"
        hostname: "testing-3-minio.servicex.ssl-hep.org"

    # minioCleanup:
    #   tag: "develop"
    #   enabled: true
    #   schedule: "0 */8 * * *"
    #   maxAge: 30
    #   maxSize: "1500G"
    #   normSize: "1T"

    gridAccount: sxatlas

    rbacEnabled: true

    ### secrets location
    secrets: servicex-secrets

    logging:
      logstash:
        logs: "https://atlas-kibana.mwt2.org:5601/s/servicex/app/dashboards?auth_provider_hint=anonymous1#/view/2612d340-f34e-11ed-a6d8-9f6a16cd6d78?embed=true&_g=()&show-time-filter=true"
