---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: servicex-testing-1-kustomization
  namespace: servicex-testing-1
resources:
  - servicex-repository.yaml
    #- servicex-release.yaml
  - servicex-testing-1-sealed-secret.yaml
  - servicex-testing-1-sealed-slack.yaml
  - values.yaml
secretGenerator:
  - name: servicex-secrets
    namespace: servicex-testing-1
    type: Opaque
  - name: servicex-slack
    namespace: servicex-testing-1
    type: Opaque
configurations:
  - kustomizeconfig.yaml
