apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: servicex-release-testing-1
  namespace: servicex-testing-1
spec:
  releaseName: servicex-release-testing-1
  serviceAccountName: servicex-testing-1
  chart:
    spec:
      chart: servicex
      sourceRef:
        kind: HelmRepository
        name: servicex-repo
      version: ">=1.7.3"
  interval: 5m
  values:
    objectStore:
      enabled: true
      internal: true
      publicURL: testing-1-minio.servicex.ssl-hep.org
      useTLS: false
      useClientTLS: true

    app:
      image: ponyisi/servicex_app
      tag: email-in-session
      logLevel: "debug"
      adminEmail: ivukotic@uchicago.edu
      pullPolicy: Always
      auth: true
      replicas: 1
      mailgunDomain: servicex.ssl-hep.org
      # need dummy values so that it's in the config file
      slackSigningSecret: "dummy"
      newSignupWebhook: "dummy"
      ingress:
        enabled: true
        tls:
          enabled: true
          host: servicex-release-testing-1.servicex.ssl-hep.org
          clusterIssuer: letsencrypt-prod

    rabbitmq:
      clusterDomain: river-dev
      metrics:
        enabled: false
        plugins: rabbitmq_prometheus
        podAnnotations:
          prometheus.io/port: "9419"
          prometheus.io/scrape: "true"
        prometheusRule:
          additionalLabels: {}
          enabled: false
          namespace: ""
          rules: []
        serviceMonitor:
          additionalLabels: {}
          enabled: true
          honorLabels: false
          interval: 30s
      persistence:
        enabled: true
        storageClass: rook-ceph-block
      auth:
        existingErlangSecret: servicex-secrets
        existingPasswordSecret: servicex-secrets
      nodeselector:
        storage: rook
      # Set rabbitMQ consumer_timeout to 10 hours to avoid errors when transorm requests take a long time
      extraConfiguration: |-
        consumer_timeout = 36000000

    x509Secrets:
      vomsOrg: atlas

    didFinder:
      rucio:
        enabled: true
        servicex_latitude: 41.78
        servicex_longitude: -87.7
      CERNOpenData:
        enabled: true
      xrootd:
        enabled: true

    codeGen:
      uproot:
        enabled: true

      python:
        enabled: true

      atlasr21:
        enabled: true

      atlasr22:
        enabled: true

      uproot-raw:
        enabled: true
        defaultScienceContainerTag: 5.6.9

    transformer:
      cachePrefix: '"c111.af.uchicago.edu:1094,c112.af.uchicago.edu:1094,c113.af.uchicago.edu:1094,c114.af.uchicago.edu:1094,c115.af.uchicago.edu:1094"'
      autoscaler:
        enabled: true
        cpuScaleThreshold: 30
        minReplicas: 50
        maxReplicas: 750
      cpuLimit: 1

    postgres:
      enabled: true

    postgresql:
      primary:
        persistence:
          enabled: true
          storageClass: rook-ceph-block
          # storageClass: local-volumes
        nodeSelector:
          storage: "rook"
      global:
        postgresql:
          auth:
            database: servicex
            existingSecret: servicex-secrets
            secretKeys:
              adminPasswordKey: postgresql-password

    minio:
      auth:
        existingSecret: servicex-secrets
      tls:
        enabled: false
      service:
        ports:
          api: 9000
      ingress:
        enabled: true
        annotations:
          kubernetes.io/ingress.class: nginx
          cert-manager.io/cluster-issuer: letsencrypt-prod
          acme.cert-manager.io/http01-edit-in-place: "true"
        hostname: "testing-1-minio-console.servicex.ssl-hep.org"
        tls: true
      apiIngress:
        enabled: true
        tls: true
        annotations:
          kubernetes.io/ingress.class: nginx
          cert-manager.io/cluster-issuer: letsencrypt-prod
          acme.cert-manager.io/http01-edit-in-place: "true"
        hostname: "testing-1-minio.servicex.ssl-hep.org"

    gridAccount: sxatlas

    rbacEnabled: true

    ### secrets location
    secrets: servicex-secrets

    logging:
      logstash:
        logs: "https://atlas-kibana.mwt2.org:5601/s/servicex/app/dashboards?auth_provider_hint=anonymous1#/view/3a570940-f34c-11ed-a6d8-9f6a16cd6d78?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-24h%2Fh%2Cto%3Anow))&show-time-filter=true"
