apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: servicex-release-prod
  namespace: servicex-prod
spec:
  releaseName: servicex-release-prod
  serviceAccountName: servicex-prod
  chart:
    spec:
      chart: servicex
      sourceRef:
        kind: HelmRepository
        name: servicex-repo
      version: "1.3.1"
  interval: 5m
  values:
    objectStore:
      enabled: true
      internal: true
      publicURL: prod-minio.servicex.ssl-hep.org
      useTLS: false
      useClientTLS: true
    app:
      tag: "v1.3.1"
      pullPolicy: Always
      # defaultUsers: "users"
      auth: true
      replicas: 1
      logLevel: INFO
      mailgunDomain: servicex.ssl-hep.org
      slackSigningSecret: dummy
      newSignupWebhook: dummy
      ingress:
        enabled: true
        tls:
          enabled: true
          host: servicex-release-prod.servicex.ssl-hep.org
          clusterIssuer: letsencrypt-prod

    rabbitmq:
      nodeselector:
        storage: rook
      metrics:
        enabled: false
        plugins: rabbitmq_prometheus
        podAnnotations:
          prometheus.io/port: "9419"
          prometheus.io/scrape: "true"
        prometheusRule:
          additionalLabels: {}
          enabled: false
          namespace: ""
          rules: []
        serviceMonitor:
          additionalLabels: {}
          enabled: true
          honorLabels: false
          interval: 30s
      persistence:
        enabled: false
        storageClass: rook-ceph-block
      auth:
        existingErlangSecret: servicex-secrets
        existingPasswordSecret: servicex-secrets
      extraConfiguration: |-
        consumer_timeout = 3600000

    x509Secrets:
      vomsOrg: atlas

    didFinder:
      rucio:
        tag: v1.3.1
        enabled: true
        servicex_latitude: 41.78
        servicex_longitude: -87.7
        memcache:
          enabled: true
          ttl: 86400
      CERNOpenData:
        tag: v1.3.1
        enabled: true

    codeGen:
      uproot:
        enabled: true
        image: sslhep/servicex_code_gen_func_adl_uproot
        tag: v1.3.1
        defaultScienceContainerImage: sslhep/servicex_func_adl_uproot_transformer
        defaultScienceContainerTag: uproot5

      python:
        enabled: true
        image: sslhep/servicex_code_gen_python
        tag: v1.3.1
        defaultScienceContainerImage: sslhep/servicex_func_adl_uproot_transformer
        defaultScienceContainerTag: uproot5

      atlasr21:
        enabled: true
        image: sslhep/servicex_code_gen_atlas_xaod
        tag: v1.3.1
        defaultScienceContainerImage: sslhep/servicex_func_adl_xaod_transformer
        defaultScienceContainerTag: 21.2.231

      atlasr22:
        enabled: true
        image: sslhep/servicex_code_gen_atlas_xaod
        tag: v1.3.1
        defaultScienceContainerImage: sslhep/servicex_func_adl_xaod_transformer
        defaultScienceContainerTag: 22.2.107

      cmssw-5-3-32:
        enabled: true
        image: sslhep/servicex_code_gen_cms_aod
        tag: v1.3.1
        defaultScienceContainerImage: sslhep/servicex_func_adl_cms_aod_transformer
        defaultScienceContainerTag: cmssw-5-3-32

    transformer:
      defaultTransformerTag: v1.3.1
      sidecarTag: v1.3.1
      cachePrefix: '"root://xcache.af.uchicago.edu:1094//"'
      autoscaler:
        enabled: true
        cpuScaleThreshold: 30
        minReplicas: 10
        maxReplicas: 750
      pullPolicy: Always
      cpuLimit: 1
    postgres:
      enabled: true
    postgresql:
      primary:
        resources:
          requests:
            cpu: 2
        persistence:
          enabled: false
          storageClass: rook-ceph-block
        nodeSelector:
          kernel-ml: "true"
          storage: rook
      global:
        postgresql:
          auth:
            database: servicex
            existingSecret: servicex-secrets
            secretKeys:
              adminPasswordKey: postgresql-password

    minio:
      auth:
        existingSecret: servicex-secrets
      tls:
        enabled: false
      service:
        ports:
          api: 9000
      ingress:
        enabled: true
        annotations:
          kubernetes.io/ingress.class: nginx
          cert-manager.io/cluster-issuer: letsencrypt-prod
          acme.cert-manager.io/http01-edit-in-place: "true"
        hostname: prod-minio-console.servicex.ssl-hep.org
        tls: true
      apiIngress:
        enabled: true
        tls: true
        annotations:
          kubernetes.io/ingress.class: nginx
          cert-manager.io/cluster-issuer: letsencrypt-prod
          acme.cert-manager.io/http01-edit-in-place: "true"
        hostname: prod-minio.servicex.ssl-hep.org

    minioCleanup:
      enabled: true
    gridAccount: ivukotic
    rbacEnabled: true
    secrets: servicex-secrets

    logging:
      logstash:
        logs: "https://atlas-kibana.mwt2.org:5601/s/servicex/app/dashboards?auth_provider_hint=anonymous1#/view/4f197320-f34e-11ed-a6d8-9f6a16cd6d78?embed=true&_g=()&show-time-filter=true&hide-filter-bar=true"
