apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: servicex-release-testing-2
  namespace: servicex-testing-2
spec:
  releaseName: servicex-release-testing-2
  serviceAccountName: servicex-testing-2
  chart:
    spec:
      chart: servicex
      sourceRef:
        kind: HelmRepository
        name: servicex-repo
      version: ">=1.7.5" 
  interval: 5m
  values:
    objectStore:
      enabled: true
      internal: true
      publicURL: testing-2-minio.servicex.ssl-hep.org
      useTLS: false
      useClientTLS: true
    app:
      image: mattshirley/servicex_app
      tag: develop
      allowedImagePrefixes:
        - "docker.io/sslhep"
        - "sslhep/"
        - "gitlab-registry.cern.ch/"
      adminEmail: bengal1@illinois.edu
      pullPolicy: Always
      auth: true
      replicas: 4
      mailgunDomain: servicex.ssl-hep.org
      slackSigningSecret: "dummy"
      newSignupWebhook: "dummy"
      ingress:
        enabled: true
        tls:
          enabled: true
          host: servicex-release-testing-2.servicex.ssl-hep.org
          clusterIssuer: letsencrypt-prod

    rabbitmq:
      clusterDomain: river-dev
      metrics:
        enabled: false
        plugins: rabbitmq_prometheus
        podAnnotations:
          prometheus.io/port: "9419"
          prometheus.io/scrape: "true"
        prometheusRule:
          additionalLabels: {}
          enabled: false
          namespace: ""
          rules: []
        serviceMonitor:
          additionalLabels: {}
          enabled: true
          honorLabels: false
          interval: 30s
      persistence:
        enabled: false
      extraConfiguration: |-
        consumer_timeout = 21600000

      auth:
        existingErlangSecret: servicex-secrets
        existingPasswordSecret: servicex-secrets
      # nodeselector:
      #   storage: rook

    didFinder:
      rucio:
        enabled: true
        replicaSorterEnabled: true
        geoIPURL: https://ponyisi.web.cern.ch/public/GeoLite2-City.mmdb
      CERNOpenData:
        enabled: false

    codeGen:
      topcp:
        enabled: true
        image: mattshirley/servicex_code_gen_topcp
        tag: develop
      uproot:
        enabled: true

      uproot-raw:
        enabled: true
        
    transformer:
      sidecarPullPolicy: Always
      scienceContainerPullPolicy: IfNotPresent
      cachePrefix: '"c111.af.uchicago.edu:1094,c112.af.uchicago.edu:1094,c113.af.uchicago.edu:1094,c114.af.uchicago.edu:1094,c115.af.uchicago.edu:1094"'
      # cachePrefix: '""'
      autoscaler:
        enabled: true
        cpuScaleThreshold: 20
        minReplicas: 10
        maxReplicas: 750
      cpuLimit: 1

    postgres:
      enabled: true

    postgresql:
      primary:
        persistence:
          enabled: false
          storageClass: rook-ceph-block
        nodeSelector:
          storage: "rook"
      global:
        postgresql:
          auth:
            database: servicex
            existingSecret: servicex-secrets
            secretKeys:
              adminPasswordKey: postgresql-password

    minio:
      persistence:
        enabled: true
        size: 100Gi
        storageClass: rook-ceph-block
      auth:
        existingSecret: servicex-secrets
      tls:
        enabled: false
      service:
        ports:
          api: 9000
      ingress:
        enabled: true
        annotations:
          kubernetes.io/ingress.class: nginx
          cert-manager.io/cluster-issuer: letsencrypt-prod
          acme.cert-manager.io/http01-edit-in-place: "true"
        hostname: "testing-2-minio-console.servicex.ssl-hep.org"
        tls: true
      apiIngress:
        enabled: true
        tls: true
        annotations:
          kubernetes.io/ingress.class: nginx
          cert-manager.io/cluster-issuer: letsencrypt-prod
          acme.cert-manager.io/http01-edit-in-place: "true"
        hostname: "testing-2-minio.servicex.ssl-hep.org"

    dataLifecycle:
      enabled: false
      schedule: "* */8 * * *"
      retention: "2 days ago"

    gridAccount: sxatlas

    rbacEnabled: true

    ### secrets location
    secrets: servicex-secrets

    logging:
      logstash:
        logs: "https://atlas-kibana.mwt2.org:5601/s/servicex/app/dashboards?auth_provider_hint=anonymous1#/view/1c14b070-f34e-11ed-a6d8-9f6a16cd6d78?embed=true&_g=()&show-time-filter=true"
