---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: servicex-release-testing-4
  namespace: servicex-testing-4
spec:
  releaseName: servicex-release-testing-4
  serviceAccountName: servicex-testing-4
  chart:
    spec:
      chart: servicex
      sourceRef:
        kind: HelmRepository
        name: servicex-repo
      version: "v1.2.1-alpha.1"
  interval: 5m
  values:
    objectStore:
      enabled: true
      internal: true
      publicURL: testing-4-minio.servicex.ssl-hep.org
      useTLS: false
      useClientTLS: true

    app:
      tag: "fixing-servicex-download"
      adminEmail: bengal1@illinois.edu
      pullPolicy: Always
      auth: true
      jwtIssuer: globus
      replicas: 1
      logLevel: INFO
      mailgunDomain: servicex.ssl-hep.org
      slackSigningSecret: "dummy"
      newSignupWebhook: "dummy"
      ingress:
        enabled: true
        tls:
          enabled: true
          host: servicex-release-testing-4.servicex.ssl-hep.org
          clusterIssuer: letsencrypt-prod

    rabbitmq:
      metrics:
        enabled: false
        plugins: rabbitmq_prometheus
        podAnnotations:
          prometheus.io/port: "9419"
          prometheus.io/scrape: "true"
        prometheusRule:
          additionalLabels: {}
          enabled: false
          namespace: ""
          rules: []
        serviceMonitor:
          additionalLabels: {}
          enabled: true
          honorLabels: false
          interval: 40s
      persistence:
        enabled: false
        storageClass: rook-ceph-block
      auth:
        existingErlangSecret: servicex-secrets
        existingPasswordSecret: servicex-secrets
      nodeselector:
        storage: rook

    didFinder:
      rucio:
        enabled: true
        servicex_latitude: 41.78
        servicex_longitude: -87.7
        memcache:
          enabled: true
          ttl: 86400
      CERNOpenData:
        enabled: false

    codeGen:
      uproot:
        enabled: true
        image: sslhep/servicex_code_gen_func_adl_uproot
        tag: "v1.2.0"
        defaultScienceContainerImage: sslhep/servicex_func_adl_uproot_transformer
        defaultScienceContainerTag: uproot4
      python:
        enabled: true
        image: sslhep/servicex_code_gen_python
        tag: "python_transformer_multitree"
        defaultScienceContainerImage: sslhep/servicex_func_adl_uproot_transformer
        defaultScienceContainerTag: uproot4
      atlasr21:
        enabled: true
        image: sslhep/servicex_code_gen_atlas_xaod
        tag: "v1.2.0"
        defaultScienceContainerImage: sslhep/servicex_func_adl_xaod_transformer
        defaultScienceContainerTag: 21.2.231
      atlasr22:
        enabled: true
        image: sslhep/servicex_code_gen_atlas_xaod
        tag: "v1.2.0"
        defaultScienceContainerImage: sslhep/servicex_func_adl_xaod_transformer
        defaultScienceContainerTag: 22.2.107
      cmssw-5-3-32:
        enabled: true
        image: sslhep/servicex_code_gen_cms_aod
        tag: "v1.2.0"
        defaultScienceContainerImage: sslhep/servicex_func_adl_cms_aod_transformer
        defaultScienceContainerTag: cmssw-5-3-32
    transformer:
      cachePrefix: '"root://192.170.240.18:1094//"'
      autoscaler:
        enabled: true
        cpuScaleThreshold: 30
        minReplicas: 10
        maxReplicas: 750
      pullPolicy: Always
      cpuLimit: 1

    postgres:
      enabled: true

    postgresql:
      primary:
        persistence:
          enabled: false
          storageClass: rook-ceph-block
      global:
        postgresql:
          auth:
            database: servicex
            existingSecret: servicex-secrets
            secretKeys:
              adminPasswordKey: postgresql-password

    minio:
      auth:
        existingSecret: servicex-secrets
      tls:
        enabled: false
      service:
        ports:
          api: 9000
      ingress:
        enabled: true
        annotations:
          kubernetes.io/ingress.class: nginx
          cert-manager.io/cluster-issuer: letsencrypt-prod
          acme.cert-manager.io/http01-edit-in-place: "true"
        hostname: "testing-4-minio-console.servicex.ssl-hep.org"
        tls: true
      apiIngress:
        enabled: true
        tls: true
        annotations:
          kubernetes.io/ingress.class: nginx
          cert-manager.io/cluster-issuer: letsencrypt-prod
          acme.cert-manager.io/http01-edit-in-place: "true"
        hostname: "testing-4-minio.servicex.ssl-hep.org"

    gridAccount: ivukotic
    rbacEnabled: true

    secrets: servicex-secrets

    logging:
      logstash:
        logs: "https://atlas-kibana.mwt2.org:5601/s/servicex/app/dashboards?auth_provider_hint=anonymous1#/view/2d2b3b40-f34e-11ed-a6d8-9f6a16cd6d78?embed=true&_g=()&show-time-filter=true&hide-filter-bar=true"
